<!DOCTYPE html>
<html>
    <head>
        <title>Zadanie 10</title>
    </head>
    <style>
        table,
        th,
        td {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
    <body>
        <h1>All books:</h1>
        <h2>List:</h2>
        <ul>
            {% for book in books %}
            <li>{{book.title}} - {{book.author}} ({{book.price}})</li>
            {% endfor %}
        </ul>
        <h2>Table:</h2>
        <table style="border: 2px;">
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Price</th>
            </tr>
            {% for book in books %}
            <tr>
                <th>{{book.author}}</th>
                <th>{{book.title}}</th>
                <th>{{book.price}}</th>
            </tr>
            {% endfor %}
        </table>
      
    </body>
</html>