<!DOCTYPE html>
<html>
    <head>
        <title>Zadanie 1</title>
    </head>
    <body>
        <form action="/cars">
            <label>Car brand</label>
            <select name='brand'> 
                <option value="Audi">Audi</option>
                <option value="Seat">Seat</option>
            </select name='car'>
            <label>Colour</label>
            <select name='colour'>
                <option value="red">Red</option>
                <option value="black">Black</option>
            </select name='colour'>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
